:root {
  --content-image-border: 1px solid var(--color-black);
}

.Content {
  padding: 0 var(--space-xs);
}


.Content img {
  border: var(--content-image-border);
}

@media (--md-viewport) {
  .Content {
    padding: 0 var(--space-sm);
  }
}

@media (--lg-viewport) {
  .Content {
    font-size: var(--font-size-sm-bump);
  }
}

.Content-header {
  /*margin: var(--space-xxsm);*/
  margin-left: var(--space-xxsm);
  margin-right: var(--space-xxsm);
}

.Content-header h1, .Content-header h2, .Content-header h3, .Content-header h4, .Content-header h5, .Content-header h6 {
  margin-top: var(--space-xxsm);
}

.Content-lede {
  font-size: var(--font-size-md);
  line-height: var(--ratio);
}

.Content-blurb {
  margin: var(--space-sm);
  margin-bottom: 0;
  color: var(--color-gray-alt);
  font-style: italic;
}

@media (--md-viewport) {
  .Content-blurb {
    margin: var(--space-xs);
  }
}

@media (--lg-viewport-minor) {
  .Content-blurb {
    font-size: var(--font-size-sm-bump);
    margin-left: 0;
    margin-right: 0;
  }
}

.Content-heading {
  font: var(--heading-font);
  font-size: var(--font-size-sm-bump);
  line-height: 1;
}

.Content-subheading {
  font-size: var(--font-size-heading-xs);
}

.Content-meta {
  margin-top: var(--space-xxsm);
  font: var(--heading-font);
  font-weight: var(--font-weight);
  font-style: italic;
  line-height: 1;
}

.Content-container:first-of-type  {
  margin-top: 0;
}

@media (--md-viewport) {
  .Content-container:first-of-type {
    margin-top: var(--margin-base);
  }
}
@media (--lg-viewport-minor) {
  .Content-title {
    font-size: var(--font-size-heading-md);
  }
  .Content-content { /* reuse? */
    margin-left: var(--space-lg);
    margin-right: var(--space-lg);
  }
}
