.Content {
  margin-top: var(--margin-base);
  padding: 0 var(--space-xs);
}

@media (--md-viewport) {
  .Content {
    padding: 0 var(--space-sm);
  }
}

@media (--lg-viewport) {
  .Content {
    font-size: var(--font-size-sm-bump);
  }
}

.Content-header {
  /*margin: var(--space-xxsm);*/
  margin-left: var(--space-xxsm);
  margin-right: var(--space-xxsm);
}

.Content-header h1, .Content-header h2, .Content-header h3, .Content-header h4, .Content-header h5, .Content-header h6 {
  margin-top: var(--space-xxsm);
}

.Content-lede {
  font-size: var(--font-size-md);
  line-height: var(--ratio);
}

.Content-heading {
  font: var(--heading-font);
  font-size: var(--font-size-sm-bump);
  line-height: 1;
  font-variant: normal;
  text-transform: none;
}

.Content-subheading {
  font-size: var(--font-size-heading-xs);
}

.Content-meta {
  margin-top: var(--space-xxsm);
  font: var(--heading-font);
  font-weight: var(--font-weight);
  font-style: italic;
  line-height: 1;
}
