/**
 * Header element styling
 */

 :root {
   --Header-background-color: var(--color-white);
 }

 .Header {
   margin: 0;
   border-top: var(--line-md) solid var(--color-black);
 }

 .Header-title-container {
   position: relative;
   border-bottom: var(--line-sm) solid var(--color-gray);
 }

 @media (--sm-viewport) {
   .Header-title-container {
     border-bottom: var(--line-sm) solid var(--color-gray);
   }
 }

 @media (--md-viewport) {
   .Header {
     border-bottom: var(--line-sm) solid var(--color-gray);
   }
   .Header-title-container {
     border-right: var(--line-xs) solid var(--color-gray);
     border-bottom: none;
     padding-left: var(--space-md);
   }
 }


/**
 * The photo is positioned absolutely to .Header-title-container
 */
 .Header-photo {
   transition: all 200ms;
   width: 150px;
   position: absolute;
   bottom: 0;
   right: 0;
 }

/**
 * 1. This flips the image over the x axis (horizontal flip)
 * 2. Because we've flipped over the x axis leftwards, the image has in effect
 *    moved its own width leftwards.
 *
 */
@media (--md-viewport) {
  .Header-photo {
    transform: scaleX(-1); /* 1 */
    width: 180px;
    right: -181px; /* 2 */
  }
}

@media (--lg-viewport) {
  .Header-photo {
    width: 200px;
    right: -201px;
  }
}

 .Header-title {
   font-size: var(--font-size-heading-xxxl);
   position: relative;
 }

 @media (--md-viewport) {
   .Header-title {
     font-size: var(--font-size-heading-x4);
   }
 }

  @media (--lg-viewport) {
    .Header-title {
      font-size: var(--font-size-heading-big);
    }
  }

.Header-subheading {
  display: none;
  text-align: center;
}

@media (--sm-viewport) {
  .Header-subheading {
    display: block;
  }
}

@media (--md-viewport) {
  .Header-subheading {
    font-size: var(--font-size-heading-lg);
  }
}

/* Chunks of main heading */
.Header-Lyza {
  position: relative;
  display: block;
}

.Header-Lyza-lyza {
  z-index: 50;
  margin-left: 0.75rem;
}

.Header-Lyza-danger {
  color: var(--color-pank);
  margin-top: calc(-1 * var(--space-sm));
  margin-left: var(--space-md);
}

.Header-Lyza-gardner {
  margin: calc(-1 * var(--space-sm)) 0 var(--space-xsm) var(--space-xsm);
}

@media (--md-viewport) {
  .Header-Lyza-lyza {
    margin-top: var(--space-xsm);
  }
  .Header-Lyza-gardner {
    margin-bottom: var(--space-sm);
  }
}

@media (--lg-viewport) {
  .Header-Lyza-danger {
    margin-top: calc(-1 * var(--space-md));
  }
}

/**
 * Create stylized ampersand.
 * 1. Circle
 * 2. Width of less than 1em slightly visually crops the &
 * 3. Negative top margin to bring circle upwards, horizontal margins
 *    for surrounding text
 * 4. Double the size of the whole element, but keep it in flow
 */
.Header-ampersand {
  background-color: var(--color-pank);
  border-radius: 100%; /* 1 */
  color: var(--color-white);
  display: inline-block;
  width: 0.9em; /* 2 */
  height: 0.9em; /* 2 */
  margin: -1em 0.5em 0 0.5em; /* 3 */
  transform: scale(2); /* 4 */
}

/**
 * Header intro blurb
 */

.Header-intro {
  padding: var(--space-xsm);
}

@media (--md-viewport) {
  .Header-intro {
    color: var(--color-gray-alt);
    line-height: var(--line-height-tight);
    font-style: italic;
    max-width: 20em;
  }
}

@media (--lg-viewport) {
  .Header-intro {
    max-width: none;
    padding: var(--space-sm);
    line-height: var(--line-height);
  }
}

@media (--lg-viewport-minor) {
  .Header-intro {
    font-size: var(--font-size-sm-bump);
  }
}

.Header-greeting {
  color: var(--color-gray);
  font: var(--heading-font);
  font-size: var(--font-size-heading-md);
  display: inline-block;
}

@media (--md-viewport) {
  .Header--small .Header-title {
    font-size: var(--font-size-heading-xl);
  }
  .Header--small .Header-photo {
    width: 100px;
    right: -101px;
  }
  .Header--small .Header-Lyza {
    display: inline-block;
    margin-top: var(--space-xxsm);
    margin-bottom: var(--space-xs);
  }
  .Header--small .Header-Lyza-lyza {
    margin-left: 0;
    z-index: 50;
  }
  .Header--small .Header-Lyza-danger {
    z-index: 25;
    margin-left: calc(-1 * var(--space-sm));
  }
  .Header--small .Header-Lyza-gardner {
    margin-left: calc(-1.5 * var(--space-xs));
  }
  .Header--small .Header-subheading {

    font-size: var(--font-size-heading-md);
    color: var(--color-gray);
  }
  .Header--small .Header-ampersand {
    transform: scale(1.4);
    margin: 0 0 0 0.1em;
  }
}

@media (--lg-viewport) {
  .Header--small .Header-title {
    font-size: var(--font-size-heading-xxl);
  }
  .Header--small .Header-photo {
    width: 110px;
    right: -111px;
  }
}
