/**
 * Header element styling
 */

 :root {
   --Header-background-color: var(--color-white);
 }

 .Header {
   margin: 0;
 }

 .Header-heading {
   position: relative;
   border-bottom: var(--line-sm) solid black;
 }

 @media (--md-viewport) {
   .Header {
     margin-bottom: var(--space-md);
   }
   .Header-heading {
     border-right: var(--line-xsm) solid var(--color-gray);
   }
   .Header-body {
     padding-bottom: var(--space-sm);
   }
 }

 .Header-photo {
   width: 150px;
   position: absolute;
   bottom: 0px; /* TODO FIX ME!!! */
   right: 0;
   z-index: 0;
 }



@media (--md-viewport) {
  .Header-photo {
    width: 45%;
  }
}

@media (--lg-viewport) {
  .Header-photo {
    width: 33.3%;
  }
}

@media (--xl-viewport) {
  .Header-photo {
    width: 250px;
  }
}

/**
 * 1. For .Header-photo absolute positioning
 */


@media (--md-viewport) {
 .Header-heading {
   border-bottom: none;
 }
}

 .Header h1 {
   font-size: 48px;
   position: relative;
 }


 @media (--md-viewport) {
   .Header h1 {
     font-size: var(--font-size-heading-xxxl);
   }
 }

.Header h2 {
  margin: 0;
  padding-bottom: var(--space-small);
  text-align: center;
  background-color: var(--color-gray-barely);
}

/**
 * Grow the font size for the h2, and, by extension, the size
 * of the ampersand
 * 1. Negative margin to bring the bottom hairline up
 */
@media (--md-viewport) {
  .Header h2 {
    font-size: var(--font-size-heading-lg);
    margin-bottom: -0.65em; /* 1 */
  }
}

/**
 * Sections of the main heading for each part of my name.
 * 1. Each chunk should be a block element, even if (likely) a span
 * 2. Negative top margin for overlap of text elements
 * 3. z-index to control z-axis compositing of text elements
 */
.Header-Lyza {
  position: relative;
  display: block; /* 1 */
}

.Header-Lyza-lyza {

  z-index: 50;
  margin-left: 0.75rem;
}

.Header-Lyza-danger {
  color: var(--color-pank);
  margin-top: calc(-1 * var(--space-sm));
  margin-left: var(--space-md);
}

.Header-Lyza-gardner {

  margin-left: var(--space-xsm);
  margin-top: calc(-1 * var(--space-sm));
  margin-bottom: var(--space-xsm);
}

/**
 * Change margins around heading chunks as viewport changes
 */
@media (--md-viewport) {
  .Header-Lyza-lyza {
    margin-top: 0.5em;
  }
  .Header-Lyza-gardner {
    margin-bottom: 0.75em;
  }
}

@media (--lg-viewport) {
  .Header-Lyza-lyza {
    margin-top: 0.5em;
  }
  .Header-Lyza-gardner {
    margin-bottom: 0.5em;
  }
}

/**
 * Create stylized ampersand.
 * 1. Circle
 * 2. Width of less than 1em slightly visually crops the &
 * 3. Negative top margin to bring circle upwards, horizontal margins
 *    for surrounding text
 * 4. Double the size of the whole element, but keep it in flow
 */
.Header em {
  background-color: var(--color-pank);
  border-radius: 100%; /* 1 */
  color: var(--color-white);
  display: inline-block;
  width: 0.9em; /* 2 */
  height: 0.9em; /* 2 */
  margin: -1em 0.5em 0 0.5em; /* 3 */
  transform: scale(2); /* 4 */
}

.Header-intro {
  padding: var(--space-xsm);
}

/**
 * .Header-intro gets unwieldy when really wide
 */
@media (--md-viewport) {
  .Header-intro {
    max-width: 20em;
  }
}
.Header-more {
  margin-top: 0.5em;
}

.Header-greeting {
  display: inline-block;
}
