.List--inline, .List--plain {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.List--inline li {
  margin: 0;
  margin-right: var(--space-xs);
  display: inline-block;
}

.List-item--spaced {
  margin-top: 0;
}

.List-item--spaced + .List-item--spaced {
  margin-top: var(--margin-base);
}
