/**
 * @define Navigation
 *
 * Common styling for navigation (list of linked items)
 */

 :root {
   --Navigation-font-family: var(--font-family);
   --Navigation-background-color: var(--color-white);
   --Navigation-color: var(--color-black);
   --Navigation-active-color: var(--color-pank);
   --Navigation-item-padding: var(--space-xxsm);
   --Navigation-item-border-width: 10px;
   --Navigation-item-border-active-color: var(--color-pank);
   --Navigation-item-font-size: var(--font-size-md);
 }

 :root {
   --Navigation-subtle-color: var(--color-gray-mid);
   --Navigation-suble-active-color: var(--color-pank);
 }

 .Navigation {
  color: var(--Navigation-color);
 }

 .Navigation-item {
   display: inline-block;
   line-height: normal;
   text-transform: lowercase;
   font-variant: small-caps;
   padding: 0 var(--Navigation-item-padding);
   padding-top: var(--Navigation-item-border-width);
   font-family: var(--Navigation-font-family);
   font-size: var(--Navigation-item-font-size);
   border-bottom-style: solid;
   border-bottom-width: var(--Navigation-item-border-width);
   border-color: transparent;
 }

 @media (--md-viewport) {
   .Navigation-item {
     font-size: var(--font-size-lg);
   }
 }

 .Navigation-item a, .Navigation-item a:visited {
   color: var(--Navigation-color);
 }

 .Navigation-item a:hover {
   color: var(--Navigation-active-color);
   transition: all 300ms;
 }

 .Navigation-item--active {
   font-style: italic;
   border-color: var(--Navigation-active-color);
 }

/**
 * Subtle is paler and smaller
 */

 .Navigation--subtle .Navigation-item {
   font-size: var(--font-size-sm);
 }

 .Navigation--subtle .Navigation-item a, .Navigation--subtle .Navigation-item a:visited {
   color: var(--Navigation-subtle-color);
 }
 .Navigation--subtle .Navigation-item a:hover {
   color: var(--Navigation-suble-active-color);
 }
