/**
 * @define Navigation
 *
 * Common styling for navigation (list of linked items)
 */

 :root {
   --Navigation-font-family: "Times New Roman", "Georgia", serif;
   --Navigation-background-color: var(--color-white);
   --Navigation-color: var(--color-black);
   --Navigation-active-color: var(--color-pank);
   --Navigation-item-padding: 10px 0.25em 0 0.25em;
   --Navigation-item-border-width: 0 0 10px 0;
   --Navigation-item-border-active-color: var(--color-pank);
   --Navigation-item-font-size: var(--font-size-md);
 }

 .Navigation {
  margin: 0;
  padding: 0;
  color: var(--Navigation-color);
 }

 /*.Navigation--inverse {
   color: var(--Navigation-background-color);
   background-color: var(--Navigation-color);
 }*/

 .Navigation-item {
   display: inline-block;
   line-height: normal;
   text-transform: lowercase;
   font-variant: small-caps;
   padding: var(--Navigation-item-padding);
   font-family: var(--Navigation-font-family);
   font-size: var(--Navigation-item-font-size);
   border-style: solid;
   border-width: var(--Navigation-item-border-width);
   border-color: transparent;
 }

 .Navigation-item a, .Navigation-item a:visited {
   color: var(--Navigation-color);
 }

 .Navigation-item a:hover {
   color: var(--Navigation-active-color);
   transition: all 300ms;
 }

 /*.Navigation--inverse .Navigation-item a, .Navigation--inverse .Navigation-item a:visited {
   color: var(--Navigation-background-color);
 }*/

 .Navigation-item--active {
   font-style: italic;
   border-color: var(--Navigation-active-color);
 }
