:root {
  --post-image-border: 1px solid var(--color-black);
}

.Post-blurb { /* reuse? */
  margin: var(--space-sm);
  margin-bottom: 0;
  color: var(--color-gray-alt);
  font-style: italic;
}

@media (--lg-viewport) {
  .Post-title {
    font-size: var(--font-size-heading-md);
  }
  .Post-content { /* reuse? */
    margin-left: var(--space-lg);
    margin-right: var(--space-lg);
  }
  .Post-blurb {
    font-size: var(--font-size-sm-bump);
    margin-left: 0;
    margin-right: 0;
  }
}

.Post img {
  border: var(--post-image-border);
}
