:root {
  --post-image-border: 1px solid var(--color-black);
}

.Post-title {
  font-size: var(--font-size-sm-bump);
}

@media (--lg-viewport) {
  .Post-title {
    font-size: var(--font-size-heading-md);
  }
}

.Post img {
  border: var(--post-image-border);
}

.Post-date {
  color: var(--color-gray-mid);
  font-style: italic;
  font-size: var(--font-size-heading-sm);
}
