/** @define Separator */

:root {
  --Separator-height: var(--hr-height);
  --Separator-height-sm: var(--hr-min-height);
  --Separator-height-lg: calc(var(--Separator-height) * var(--ratio));
}

/**
 * A horizontal rule with additional styles
 *
 * This is intended to be applied only to <hr> elements
 */

.Separator {
  height: var(--Separator-height);
  background: currentColor;
}

/**
 * Modifier: thinner rule
 */

.Separator--small {
  height: var(--Separator-height-sm);
}

/**
 * Modifier: thicker rule
 */

.Separator--large {
  height: var(--Separator-height-lg);
}

.Separator--light {
  background: var(--color-gray-light);
}

/**
 * Modifier: subtler color
 */
.Separator--subtle {
  background: var(--color-gray-subtle);
}

.Separator--barely {
  background: var(--color-gray-barely);
}
