.Tile {
  margin-top: var(--margin-base);
  border-top: var(--line-md) solid var(--color-gray);
}

@media (--md-viewport) {
  .Tile {
    margin: var(--margin-base) var(--space-sm) 0 var(--space-sm);
  }
}

.TileGrid {
  margin: 0;
}

.Tile-container:first-of-type .Tile {
  margin-top: 0;
}

@media (--md-viewport) {
  .Tile-container:first-of-type .Tile {
    margin-top: var(--margin-base);
  }
}

.Tile-header {
  margin: 0;
  border-bottom: var(--line-xs) solid var(--color-gray-lighter);
}

.Tile-body {
  padding: 0 var(--space-xsm);
}

@media (--md-viewport) {
  .Tile-body {
    padding: 0 var(--space-xxsm);
  }
}

/* A tile in a grid list */

.ListTile + .ListTile {
  border-top: 3px solid var(--color-gray);
}

.ListTile-heading {
  font-size: var(--font-size-heading-sm);
}

.ListTile-subheading {
  font-size: var(--font-size-heading-xs);
}

.ListTile-right {
  border-top: 1px solid var(--color-gray-subtle);
}

@media (--md-viewport) {
  .ListTile + .ListTile {
    border-top-width: 0;
  }
  .ListTile-right {
    border-top-width: 0;
    border-left: var(--line-xs) solid var(--color-gray-lighter);
  }
  .ListTile-body {
    padding: 0 var(--space-sm);
  }
}
