.Tile {
  margin-top: var(--margin-base);
  border-top: var(--line-md) solid var(--color-gray);
}

@media (--md-viewport) {
  .Tile {
    margin: var(--margin-base) var(--space-sm) 0 var(--space-sm);
  }
}

.TileGrid {
  margin: 0;
}

.Tile-container:first-of-type .Tile {
  margin-top: 0;
}

@media (--md-viewport) {
  .Tile-container:first-of-type .Tile {
    margin-top: var(--margin-base);
  }
}

.Tile-header {
  margin: 0;
  border-bottom: var(--line-xsm) solid var(--color-gray-lighter);
}

.Tile-body {
  padding: 0 var(--space-xsm);
}

@media (--md-viewport) {
  .Tile-body {
    padding: 0 var(--space-xxsm);
  }
}
