.Work + .Work {
  border-top: 3px solid var(--color-gray);
}

.Work-heading {
  font-size: var(--font-size-heading-sm);
}

.Work-body {
  border-top: 1px solid var(--color-gray-subtle);
}

@media (--md-viewport) {
  .Work + .Work {
    border-top-width: 0;
  }
  .Work-body {
    padding: 0 var(--space-sm);
    border-top-width: 0;
    border-left: var(--line-xs) solid var(--color-gray-lighter);
  }
}

.Work-source {
  font-size: var(--font-size-heading-xs);
}
