{{> _header}}

  <section>
    <div class="Content Content-lede">{{{content}}}</div>
  </section>

  <div class="Grid TileGrid">
    <div class="Grid-cell u-md-size2of3">
      <div class="Tile">
        <div class="Tile-header">
          <div class="Content-header">
            <h3 class="Tile-heading">Scrapbook</h3>
            <h4 class="Tile-heading">Latest Community Adventures and Chatter</h4>
          </div>
        </div>
        <div class="Tile-body u-top-tight u-md-top-default">
          <ul class="List List--plain">
          {{#each data.works }}
            {{> _work }}
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="Grid-cell u-md-size1of3">
      <div class="Tile">
        <div class="Tile-header">
          <div class="Content-header">
            <h3 class="Tile-heading">Speaking, Writing, Community</h3>
            <h4 class="Tile-heading">Places I went, things I did</h4>
          </div>
        </div>
        <div class="Tile-body u-top-tight u-md-top-default">
          <ul class="List List--plain">
            {{#each data.media}}
             {{> _media }}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

{{> _footer}}
