{{> _header}}

  <section>
    {{{content}}}
  </section>

  <div class="Grid TileGrid">
    <div class="Grid-cell u-md-size1of2">
      <div class="Tile">
        <div class="Tile-header">
          <h3 class="Tile-heading">Shipped it!</h3>
          <h4 class="Tile-heading">Things I wrote and did</h4>
        </div>
        <div class="Tile-body">
        </div>
      </div>
    </div>
    <div class="Grid-cell u-md-size1of2">
      <div class="Tile">
        <div class="Tile-header">
          <h3 class="Tile-heading">Speaking and Community</h3>
          <h4 class="Tile-heading">Places I went, things I did</h4>
        </div>
        <ul>
          <li>Test</li>
        </ul>
      </div>
    </div>
  </div>

{{> _footer}}
