{{> _header}}

  <section>
    <h1 class="u-visually-hidden">About Lyza Danger Gardner</h1>
    <section>
      <h2 class="u-visually-hidden">Biography and Overview</h2>
      <div class="Content">{{{content}}}</div>
    </section>

  <section class="Grid TileGrid">
    <h2 class="u-visually-hidden">Collected Works</h2>
    <div class="Grid-cell u-md-size2of3">
      <section class="Tile">
        <div class="Tile-header">
          <div class="Content-header">
            <h3 class="Tile-heading">Scrapbook</h3>
            <h4 class="Tile-heading">Latest Community Adventures and Coverage</h4>
          </div>
        </div>

        <div class="Tile-body u-top-tight u-md-top-default">
          <ul class="List List--plain">
          {{#each data.works }}
            {{> _work }}
          {{/each}}
          </ul>
        </div>

      </section>
    </div>
    <div class="Grid-cell u-md-size1of3">
      <section class="Tile">
        <div class="Tile-header">
          <div class="Content-header">
            <h3 class="Tile-heading">Media</h3>
            <h4 class="Tile-heading">Publications, Videos, and More</h4>
          </div>
        </div>

        <div class="Tile-body u-top-tight u-md-top-default">
          <ul class="List List--plain">
            {{#each data.media}}
             {{> _media }}
            {{/each}}
          </ul>
        </div>

      </section>
    </div>
  </section>

</section>

{{> _footer}}
