{{> _header}}

<section class="Announcement">
  {{{content}}}
</section>

<section>
  <div class="Grid">
    <div class="Grid-cell u-lg-size1of12"></div>
    <div class="Grid-cell u-lg-size10of12">
      {{#posts}}
        <div class="Tile">{{> post/_blurb wideGrid="true" }}</div>
      {{/posts}}
    </div>
  </div>
</section>

{{> _footer}}
