{{> _header}}

<section class="Content">
  {{{content}}}
</section>

<section>

    {{#postsByMonth tag=archiveTag}}
      <div>
        <h2 class="Heading--full">{{ month }}</h2>
      </div>
      <div class="Grid TileGrid">
      {{#each this.posts }}
        <div class="Grid-cell u-md-size1of2 Tile-container">
          <div class="Tile">
            {{> post/_blurb }}
          </div>
        </div>
      {{/each}}
      </div>
    {{/postsByMonth}}

</section>

{{> _footer}}
