{{> _header}}

{{#if isArchiveHome }}
<div class="Grid TileGrid">
  <div class="Grid-cell Tile-container u-md-size1of3">
    <div class="Tile">
      <div class="Tile-header">
        <div class="Content-header">
          <h1 class="Tile-heading">All the Stuff</h1>
        </div>
      </div>

      <div class="Tile-body Content">
        Here is all the stuff that I have written in the last while. Want it all? Tolerant of mixed metaphors and non-sequiturs? You're already in the right place. Here it comes.
      </div>
    </div>

  </div>

  <aside class="Grid-cell Tile-container u-md-size2of3">
    <div class="Tile">
      <div class="Tile-header">
        <div class="Content-header">
          <h2 class="Tile-heading">Or: Some of the Stuff</h2>
        </div>
      </div>

      <div class="Tile-body">
        Maybe you are from the tech community and don't want to read about Sea Canaries and what driving in Sweden is like. Or maybe you know me as a human and don't care about JavaScript bundlers and Web APIs. In that case you can read:
        <div class="Grid Grid--alignMiddle u-v-sm">
          <div class="Grid-cell u-sm-size5of12 u-lg-size4of12 u-lg-before1of12 u-align-center">
            <a class="Button Button--primary Button-link--primary" href="tech/">Tech Stuff Only</a>
          </div>
          <div class="Grid-cell u-sm-size2of12 u-align-center u-v-xs">
            <em>- or -</em>
          </div>
          <div class="Grid-cell u-sm-size5of12 u-lg-size4of12 u-lg-after1of12 u-align-center">
            <a class="Button Button--primary Button-link--primary" href="life/">Life Stuff Only</a>
          </div>
        </div>

      </div>
    </div>

  </aside>
</div>

{{else}}
  <div class="Content u-top-off">
    <h1 class="u-inline-block"><a href="/blog" class="u-link-subtle">Stuff</a>  <h2 class="u-inline-block">&nbsp;&nbsp;&gt;&nbsp; about {{archiveTag}}</h2>
  </div>
{{/if}}
<section>

    {{#postsByMonth tag=archiveTag}}
      <div>
        <h2 class="Heading--full">{{ month }}</h2>
      </div>
      <div class="Grid TileGrid">
      {{#each this.posts }}
        <div class="Grid-cell u-md-size1of2 Tile-container">
          <div class="Tile">
            {{> post/_blurb }}
          </div>
        </div>
      {{/each}}
      </div>
    {{/postsByMonth}}

</section>

{{> _footer}}
