{{> _header}}

  <section class="Announcement">
    {{{content}}}
  </section>

<section class="PostGrid">
  <div class="Grid">
    {{#gridPosts count="5"}}
      <div class="Grid-cell {{gridWidth}}">
        <div class="Post-Blurb">{{> post/_blurb }}</div>
      </div>
    {{/gridPosts}}
  </div>
</section>

{{> _footer}}
