{{> _header}}

<section>
  <div class="Grid Grid--alignMiddle">
    <div class="Grid-cell Page-content u-md-size4of6">
      {{{content}}}
    </div>
</section>

<section class="Grid Grid--withGutter">
  {{#each posts}}
    <div class="Grid-cell u-md-size1of2 u-lg-size1of3"><a href="{{url}}">{{title}}</a></div>
  {{/each}}
</section>

{{> _footer}}
