<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Prototyping</title>
</head>
<body>
  {{{content}}}
  {{!TODO remove me later}}
  <script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.2.0.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
