{{> _header}}

  <section class="Announcement">
    {{{content}}}
  </section>

<section class="TileGrid">
  <div class="Grid">
    {{#posts count="6"}}
      <div class="Grid-cell u-md-size1of2 u-lg-size1of3 Tile-container">
        <div class="Tile">{{> post/_blurb }}</div>
      </div>
    {{/posts}}
  </div>
</section>



<div class="Grid u-margins-default">
  <div class="Grid-cell u-align-right">
    <p><em>...and 47 more things</em></p> <a class="Button Button--primary Button-link--primary" href="/blog">Read all the Stuff</a>
  </div>
</div>

{{> _footer}}
