{{> _header}}

<section class="u-padding-sm u-margins-off">
  {{{content}}}
</section>

<section>
  <div class="Grid">
    {{#posts count="6"}}
      <div class="Grid-cell u-md-size1of2 u-lg-size1of3">
        <div class="Post-Blurb">{{> post/_blurb }}</div>
      </div>
    {{/posts}}
  </div>
</section>

{{> _footer}}
