{{> _header}}

  <section class="Announcement">
    {{{content}}}
  </section>

<section class="PostGrid">
  <div class="Grid">
    {{#posts count="1"}}
      <div class="Grid-cell u-lg-size2of3">
        <div class="Post-Blurb">{{> post/_blurb }}</div>
      </div>
    {{/posts}}
    {{#posts count="1" offset="1"}}
      <div class="Grid-cell u-md-size1of2 u-lg-size1of3">
        <div class="Post-Blurb">{{> post/_blurb }}</div>
      </div>
    {{/posts}}
    {{#posts count="4" offset="2"}}
      <div class="Grid-cell u-md-size1of2 u-lg-size1of3">
        <div class="Post-Blurb">{{> post/_blurb }}</div>
      </div>
    {{/posts}}
  </div>
</section>

{{> _footer}}
