{{> _header}}

<section>
  {{{content}}}
  <a href="#">Moar</a>
</section>

<section>
  <ul>
    {{#each posts}}
      <li><a href="{{url}}">{{title}}</a></li>
    {{/each}}
  </ul>
</section>

{{> _footer}}
