{{> _header}}

  {{#if content}}
    <div class="Announcement">
        {{{content}}}
    </div>
  {{/if}}

<section class="TileGrid">
  <h2 class="u-visually-hidden">Recent Posts</h2>
  <div class="Grid">
    {{#posts count="6"}}
      <div class="Grid-cell u-md-size1of2 u-lg-size1of3 Tile-container">
        <div class="Tile">{{> post/_blurb }}</div>
      </div>
    {{/posts}}
  </div>
</section>

<div class="Grid u-margins-default Grid--alignMiddle">
  <div class="Grid-cell u-align-center u-size2of12 u-sm-size1of4 u-md-size1of3 u-lg-size8of12">
    <hr class="Separator Separator--small Separator--subtle">
  </div>
  <div class="Grid-cell u-align-center u-size8of12 u-sm-size2of4 u-md-size1of3 u-lg-size3of12">
    <p><em>...and {{postCount offset="6"}} more things</em></p> <a class="Button Button--primary Button-link--primary" href="/blog">Read all the Stuff</a>
  </div>
  <div class="Grid-cell u-align-center u-size2of12 u-sm-size1of4 u-md-size1of3 u-lg-size1of12">
    <hr class="Separator Separator--small Separator--subtle">
  </div>
</div>

{{> _footer}}
