{{> _header}}

  <section class="Announcement">
    {{{content}}}
  </section>

<section class="PostGrid">
  <div class="Grid">
    {{#gridPosts count="5"}}
      <div class="Grid-cell {{gridWidth}}">
        <div class="Post-Blurb">{{> post/_blurb }}</div>
      </div>
    {{/gridPosts}}
  </div>
</section>

<div class="Grid">
  <div class="Grid-cell u-align-right">
    <a class="Button--link Button Button--default Button--default-link" href="/blog">Read all the Stuff</a>
  </div>
</div>

{{> _footer}}
