<!doctype html>
<html lang="en-US" dir="ltr">
<head>
  <script src="//use.typekit.net/ucg8fby.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{title}}</title>
</head>
<body>
  <main role="main">
    <header>
      <hgroup>
        <h1>Lyza Danger Gardner</h1>
        <h2>I like figuring out how to make things</h2>
      </hgroup>
    </header>
    <article class="Post">
      <header class="Post-header">
        <h1 class="Post-title">{{title}}</h1>
        <p><time datetime="2015-02-20">Feb 20, 2015</time></p>
      </header>
      <div class="Post-content">
        {{{content}}}
      </div>
    </article>
  </main>
    {{!TODO remove me later}}
    <script type='text/javascript' id="__bs_script__">//<![CDATA[
      document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.2.0.js'><\/script>".replace("HOST", location.hostname));
  //]]>
    </script>

</body>
</html>
