{{> _header}}

<section>
  <div class="Grid Grid--alignMiddle">
    <div class="Grid-cell u-size3of4">
      {{{content}}}
    </div>
    <div class="Grid-cell u-size1of4">
      <a href="#" class="Button Button--primary u-sizeFill">Moar</a>
    </div>
</section>

<section>
  <ul>
    {{#each posts}}
      <li><a href="{{url}}">{{title}}</a></li>
    {{/each}}
  </ul>
</section>

{{> _footer}}
