{{> _header}}

<section>
  <div class="Grid Grid--alignMiddle">
    <div class="Grid-cell Page-content u-md-size4of6">
      {{{content}}}
    </div>
</section>

<section>
  <ul>
    {{#each posts}}
      <li><a href="{{url}}">{{title}}</a></li>
    {{/each}}
  </ul>
</section>

{{> _footer}}
