{{> _header }}

      <article class="Post">
        <div class="Grid">
          <div class="Grid-cell u-md-size2of12">
            <header class="Post-header">
              <div class="Post-meta">
              <h1 class="Post-title">{{title}}</h1>
              <h4 class="Post-date"><time datetime="{{datePublishedISO}}">{{formatDate datePublished}}</time></h4>
              </div>
              <hr class="Separator--small Separator--subtler u-margins-off">
            </header>
          </div>
          <section class="Grid-cell u-md-size8of12 u-lg-size8of12">
            <div class="Post-content">
              {{{content}}}
            </article>
          </div>
        </div>
      </article>

  </div>
{{> _footer }}
