{{> _header }}
    <article class="Post">
      <header class="Post-header">
        <h1 class="Post-title">{{title}}</h1>
        <p><time datetime="{{isoDate publish.date}}">
          {{formatDate publish.date}}
        </time></p>

      </header>
      <div class="Post-content">
        {{{content}}}
      </div>
    </article>
{{> _footer }}
