{{> _header }}
    <article class="Post">
      <header class="Post-header">
        <h1 class="Post-title">{{title}}</h1>
        <p><time datetime="2015-02-20">Feb 20, 2015</time></p>
      </header>
      <div class="Post-content">
        {{{content}}}
      </div>
    </article>
{{> _footer }}
