<div class="Announcement">
  <p>Have you bought your ticket for <a href="https://www.responsivefieldday.com">Responsive Field Day</a> yet? Join us for a spirited, knowledge-packed day scouting the frontiers of responsive web design and development in lovely Portland, Oregon this September 25.</p>
</div>
