<div class="Thumbnail">
  <div class="FlexEmbed">
    <div class="FlexEmbed-ratio FlexEmbed-ratio--{{ratio}}">
      <iframe class="FlexEmbed-content" src="{{url}}" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
