  </main>
  <footer role="contentinfo">
    <hr class="Separator--small">
    <nav role="navigation">
      <ul class="Navigation Navigation--inverse">
        <li class="Navigation-item"><a href="http://twitter.com/lyzadanger" class="Navigation-link u-linkClean">@lyzadanger</a></li>
        <li class="Navigation-item"><a href="http://flickr.com/photos/lyza" class="Navigation-link u-linkClean">Flickr</a></li>
      </ul>
    </nav>
  </footer>
  <script src="/site.js"></script>
</body>
</html>
