  </main>
  <footer class="Footer u-align-center" role="contentinfo">
    <hr class="Separator Separator--subtle">
    <nav role="navigation" class="Navigation Navigation--subtle">
      <ul class="Navigation-list">
        <li class="Navigation-item"><a href="mailto:lyza@lyza.com" class="Navigation-link u-linkClean">Contact Me</a></li>
        <li class="Navigation-item"><a href="http://www.cloudfour.com" class="Navigation-link u-linkClean">Cloud Four</a></li>
        <li class="Navigation-item"><a href="http://twitter.com/lyzadanger" class="Navigation-link u-linkClean">@lyzadanger</a></li>
        <li class="Navigation-item"><a href="http://flickr.com/photos/lyza" class="Navigation-link u-linkClean">Flickr</a></li>
      </ul>
    </nav>
    <hr class="Separator--subtler Separator--small u-margins-off">
  </footer>
  <script src="/site.js"></script>
</body>
</html>
