<!doctype html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="alternate" type="application/rss+xml"
    href="/feeds/rss.rss" title="Lyza.com: All Posts">
  <link rel="alternate" type="application/rss+xml"
    href="/feeds/tech.rss" title="Lyza.com: Work and Tech Posts">
  <link rel="alternate" type="application/rss+xml"
    href="/feeds/life.rss" title="Lyza.com: Life and Off-topic Posts">
  <title>{{title}} | Lyza.com</title>

  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Playfair Display:italic,900', 'Open Sans:400']
      }
    };

    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
  </script>

</head>
<body>
  <main role="main">

    <div class="Header">

      <header role="banner" class="Header-body">
        <hr class="Separator--small">
        <div class="Header-main u-margins-off">

          <div class="Header-utils Grid">
            <nav role="navigation" class="Navigation Grid-cell u-size3of4">
              <ul class="Navigation-list">
                <li class="Navigation-item {{#if isHomePage}}Navigation-item--active{{/if}}">
                  <a href="/" class="Navigation-link u-linkClean">Home</a>
                </li>
                <li class="Navigation-item {{#if isAboutPage}}Navigation-item--active{{/if}}">
                  <a href="/about" class="Navigation-link u-linkClean">About</a>
                </li>
                  <li class="Navigation-item {{#if isPost }}Navigation-item--active{{/if}}"><a href="/blog" class="Navigation-link u-linkClean">Stuff</a></li>
              </ul>
            </nav>
            <div class="Grid-cell u-size1of4"><!-- When my head grows big, it goes in here --></div>
          </div>

          <hr class="Separator--large u-margins-off">
          <div class="Grid Grid--alignMiddle">
            <div class="Header-heading Grid-cell u-margins-off u-md-size7of12 u-lg-size2of3">
              <img src="/lyza-2.gif" alt="Lyza Danger Gardner, human" class="Header-photo">
              <h1 class="Header-heading-main u-margins-off">
                <span class="Header-Lyza Header-Lyza-lyza">Lyza</span>
                <span class="Header-Lyza Header-Lyza-danger">Danger</span>
                <span class="Header-Lyza Header-Lyza-gardner">Gardner</span>
              </h1>
            </div>
            <div class="Grid-cell u-md-size5of12 u-lg-size1of3">
              <div class="Header-intro">
                <h3 class="Header-greeting">Hi! I&rsquo;m Lyza!</h3>
                I am a developer and human being born, raised, and living in Portland, Ore.
                I&rsquo;m a generalist with an abiding love for the web. I&rsquo;m CTO and co-founder of
                <a href="http://www.cloudfour.com">Cloud Four</a>.
              </div>
            </div>
          </div>

          <hr class="Separator u-margins-off">
        </div>
        <h2 class="Header-subheading">Developer <em class="Header-ampersand">&amp;</em> Person</h2>
      </header>

    </div>
