<!doctype html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{title}} | Lyza.com</title>
</head>
<body>
  <main role="main">

    <header role="banner">

      <nav role="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

      <h1>Lyza Danger Gardner</h1>
      <div>
        <!-- header image -->
      </div>
      <h2>Developer <em>&amp;</em> Person</h2>
    </header>
