<!doctype html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//use.typekit.net/ucg8fby.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Arimo:400,700|Playfair+Display:900,400italic' rel='stylesheet' type='text/css'>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{title}} | Lyza.com</title>
</head>
<body class="u-margins-off">
  <main role="main" class="Page">
    <div class="Grid Header">
      <div class="Grid-cell Header-body u-md-size4of6">
        <header role="banner">
          <hr class="Separator--small">
          <div class="Header-main u-margins-off">
            <img src="/lyza-2.gif" class="Header-photo">
            <div class="Grid Grid--alignMiddle Header-utils">
              <div class="Grid-cell u-size3of4">
                <nav role="navigation">
                  <ul class="Navigation">
                    <li class="Navigation-item Navigation-item--active"><a href="/" class="Navigation-link u-linkClean">Home</a></li>
                    <li class="Navigation-item"><a href="#" class="Navigation-link u-linkClean">About</a></li>
                    <li class="Navigation-item"><a href="#" class="Navigation-link u-linkClean">Contact</a></li>
                  </ul>
                </nav>
              </div>
              <div class="Grid-cell u-size1of4">
              </div>
            </div>
            <hr class="Separator--large u-margins-off">
            <h1 class="u-margins-off">
              <span class="Lyza Lyza-lyza">Lyza</span>
              <span class="Lyza Lyza-danger">Danger</span>
              <span class="Lyza Lyza-gardner">Gardner</span>
            </h1>
            <hr class="Separator">
          </div>
          <h2>Developer <em>&amp;</em> Person</h2>
        </header>
      </div>
      <div class="Grid-cell u-md-size2of6">
        <div class="Header-intro">
          <h3 class="Header-greeting">Hi! I'm Lyza!</h3>
          I am a developer and human being born, raised, and living in Portland, Ore.
          I'm a generalist with an abiding love for the web. I'm CTO and co-founder of
          <a href="http://www.cloudfour.com">Cloud Four</a>.
          <p><a href="#" class="Button Button--primary u-sizeFill">More</a></p>
        </div>
      </div>
      <hr class="Separator--small u-margins-off">
    </div>
