<!doctype html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Arimo:400,700|Playfair+Display:900,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{title}} | Lyza.com</title>
</head>
<body>
  <main role="main" class="Page">

    <div class="Header">

      <header role="banner" class="Header-body">
        <hr class="Separator--small">
        <div class="Header-main u-container">

          <div class="Header-utils Grid">
            <nav role="navigation" class="Navigation Grid-cell u-size3of4">
              <ul class="Navigation-list">
                <li class="Navigation-item Navigation-item--active">
                  <a href="/" class="Navigation-link u-linkClean">Home</a>
                </li>
                <li class="Navigation-item">
                  <a href="#" class="Navigation-link u-linkClean">About</a>
                </li>
                  <li class="Navigation-item"><a href="/blog" class="Navigation-link u-linkClean">Stuff</a></li>
              </ul>
            </nav>
            <div class="Grid-cell u-size1of4"><!-- When my head grows big, it goes in here --></div>
          </div>

          <hr class="Separator--large u-margins-off">
          <div class="Grid">
            <div class="u-margins-off Header-heading Grid-cell u-md-size7of12 u-lg-size4of6">
              <img src="/lyza-2.gif" alt="Lyza Danger Gardner, human" class="Header-photo">
              <h1 class="u-margins-off">
                <span class="Header-Lyza Header-Lyza-lyza">Lyza</span>
                <span class="Header-Lyza Header-Lyza-danger">Danger</span>
                <span class="Header-Lyza Header-Lyza-gardner">Gardner</span>
              </h1>
            </div>
            <div class="Grid-cell u-md-size5of12 u-lg-size2of6">
              <div class="Header-intro">
                <h3 class="Header-greeting">Hi! I'm Lyza!</h3>
                I am a developer and human being born, raised, and living in Portland, Ore.
                I'm a generalist with an abiding love for the web. I'm CTO and co-founder of
                <a href="http://www.cloudfour.com">Cloud Four</a>.
                <a href="/about" class="Header-more Button Button--primary Button--primary-link u-sizeFill">About my Work</a>
              </div>
            </div>
          </div>

          <hr class="Separator u-margins-off">
        </div>
        <h2>Developer <em>&amp;</em> Person</h2>
      </header>

    </div>
