html {
  font-size   : 100%;
}

body {
  font-family      : var(--Base-fontMain);
  font-size        : var(--Base-fontSize);
  line-height      : var(--Base-lineHeight);
  color            : var(--Base-colorMain);
  max-width        : 40em;
  margin           : auto;
}

h1, h2, h4, h6 {
  font-family: var(--Base-fontHeading);
}

h3, h5 {
  font-family: var(--Base-fontHeadingAlt);
  text-transform: lowercase;
}

h1 {
  font-size: calc(var(--Base-lineHeight) / 0.75);
  line-height: calc(var(--Base-lineHeight) * 1.5);
  font-weight: 600;
  margin-bottom: var(--Base-rhythm);
}

h2 {
  font-size: calc(var(--Base-lineHeight) / 0.875);
  font-weight: 100;
  font-style: italic;
  margin: var(--Base-lineHeight) 0;
  text-align: left;
}

h3 {
  font-size: calc(var(--Base-lineHeight));
  margin-top: var(--Base-lineHeight);
  font-weight: 300;
  text-align: center;
}

h4, time {
  font-size: calc(var(--Base-lineHeight) / 1.2);
  margin-top: var(--Base-lineHeight);
  font-weight: 500;
  font-style: italic;
}

h5 {
  font-size: calc(var(--Base-lineHeight) / 1.2);
  font-weight: 400;
}

p {
  margin: var(--Base-rhythm) 0;
}

p+p {
  margin: var(--Base-lineHeight) 0;
}

li {
  margin: calc(var(--Base-rhythm) / 2) var(--Base-rhythm);
}

ul {
  list-style-type: disc;
  margin: var(--Base-rhythm);
}

blockquote {
  margin: var(--Base-lineHeight);
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: var(--Base-textLinks);
}

ol {
  list-style-type: decimal;
}

code {
  font-size: 0.8em;
}

pre {
  padding          : calc(var(--Base-lineHeight) / 2);
  margin-top       : var(--Base-lineHeight);
  background-color : var(--Base-colorMain);
  color            : var(--Base-colorInverse);
}
