/**
 * base
 */

:root {
  --background-base: var(--color-white);
  --color-base: var(--color-gray);
  --font-base: var(--font-weight) var(--font-size-sm)/var(--line-height) var(--font-family);
  --margin-base: var(--space-medium);
  --color-link-base: var(--color-blue);
  --color-link-active: var(--color-pank);
}
:root {
  --heading-font: var(--font-weight-bold) var(--font-size-heading-sm) var(--heading-font-family);
  --heading-color: var(--color-black);
}
