@custom-media --medium-viewport all and (min-width: 40em);

:root {
  --Base-rhythm: 0.875rem;
  --Base-lineHeight: calc(var(--Base-rhythm) * 2);
  --Base-fontSize: 1.2rem;
  --Base-fontMain:  "Adobe Caslon Pro", "Times New Roman", serif;
  --Base-fontHeading: "proxima-nova-condensed", "Helvetica", sans-serif;
  --Base-fontHeadingAlt: "proxima-nova-sc-osf-condensed", "Helvetica", sans-serif;
  --Base-colorMain: #3b3f43;
  --Base-textLinks: #214870;
  --Base-printersRed: #d83f21;
  --Base-colorInverse: #ffffff;
  --Medium-lineHeight: 1.875rem;
  --Medium-fontSize: 1.25rem;
}
