@import "suitcss-base";

@custom-media --medium-viewport all and (min-width: 40em);

:root {
  --Base-lineHeight: 1.75rem;
  --Base-fontSize: 1.25rem;
  --Base-fontMain: "adobe-caslon-pro", "Georgia", "Times New Roman", serif;
  --Base-colorMain: #3b3f43;
  --Base-textLinks: #214870;
  --Base-printersRed: #d83f21;
  --Base-colorInverse: #ffffff;
  --Medium-lineHeight: 1.875rem;
  --Medium-fontSize: 1.25rem;
}
@import "components/Post";

html {
  font-size   : 100%;
}

body {
  font-family      : var(--Base-fontMain);
  font-size        : var(--Base-fontSize);
  line-height      : var(--Base-lineHeight);
  color            : var(--Base-colorMain);
  max-width        : 40em;
  margin           : auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans-condensed", sans-serif;
}

h1 {
  font-size: calc(var(--Base-lineHeight) / 0.75);
  font-weight: 100;
  margin-top: var(--Base-lineHeight);
}

h2 {
  font-size: calc(var(--Base-lineHeight) / 0.875);
  margin: calc(var(--Base-lineHeight) / 2) 0;
}

h3 {
  font-size: calc(var(--Base-lineHeight));
  margin-top: var(--Base-lineHeight);
  font-weight: 500;
  text-align: center;
}

h4, time {
  font-size: calc(var(--Base-lineHeight) / 1.4);
  margin-top: var(--Base-lineHeight);
  font-weight: 500;
  font-style: italic;
}

h2, h3 {
  text-transform: lowercase;
  font-variant: small-caps;
}

ol, ul, dl {
  margin: var(--Base-lineHeight) 1rem 0 2rem;
}

p, li {
  margin-top: var(--Base-lineHeight);
}

blockquote {
  margin: var(--Base-lineHeight);
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: var(--Base-textLinks);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

@media (--medium-viewport) {
  h1 {
    font-size: calc(var(--Medium-lineHeight) / 0.75);
    margin-top: var(--Medium-lineHeight);
  }

  h2 {
    font-size: calc(var(--Base-lineHeight) / 0.875);
    margin: calc(var(--Medium-lineHeight) / 2) 0;
  }

  h3 {
    font-size: calc(var(--Base-lineHeight));
    margin-top: var(--Medium-lineHeight);
  }

  h4, time {
    font-size: calc(var(--Base-lineHeight) / 1.4);
    margin-top: var(--Medium-lineHeight);
  }

  ol, ul, dl {
    margin: var(--Medium-lineHeight) 1rem 0 2rem;
  }

  p, li {
    margin-top: var(--Medium-lineHeight);
  }

  blockquote {
    margin: var(--Medium-lineHeight);
  }
}
