/**
 * Root font size
 *
 * This is the basis for all rem and em unit calculations.
 */

html {
  font-size: var(--font-size-px);
  color: var(--color-base);
}

/**
 * Body type styles
 *
 * 1. Base font style for everything
 * 2. Allow long words (links) to brake at arbitrary points
 * 3. Auto-hyphens by default (assuming removal for specific elements)
 */

body {
  font: var(--font-base); /* 1 */
  word-wrap: break-word; /* 2 */
  hyphens: auto; /* 3 */
}

/**
 * Headings
 */

:--headings {
  color: var(--heading-color);
  font: var(--heading-font);
  font-weight: var(--font-weight);
  line-height: 1;
}

/**
 * Webfont loading
 */
/*:--wfLoading {
  opacity: 0;
}
:--wfActive, :--wfInactive {
  opacity: 1.0;
  transition: all 400ms;
}*/

/**
 * default heading sizes
 */

h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-heading-md);
}

@media (--lg-viewport) {
  h1 {
    font-size: var(--font-size-heading-lg);
  }
}

h2 {
  font-style: italic;
  font-weight: var(--font-weight);
  font-size: var(--font-size-heading-md);
}

h3 {
  font-size: var(--font-size-heading-md);
  font-weight: var(--font-weight-bold);
}

h4 {
  font-size: var(--font-size-heading-sm);
  font-weight: var(--font-weight);
  color: var(--color-gray);
  font-style: italic;
}

h5 {

}

/**
 * Small text
 */

small {
  font-size: var(--font-size-xs);
}

/**
 * Small caps
 * http://typeplate.com/#small-caps
 */

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}

/**
 * Remove hyphenation from elements with significant formatting
 */

abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  hyphens: none;
}

/**
 * Links
 */
a, a:visited, a:active {
  color: var(--color-link-base);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--color-link-active);
}

/**
 * Control whitespace and wrapping on code blocks
 */

pre,
code {
  font: var(--code-font);
  white-space: pre;
}

code {
  word-wrap: normal;
}

pre > code {
  white-space: pre-wrap;
}

/**
 * Lists
 */

:--lists {
  list-style-position: outside;
  padding: 0 var(--space-large);
}

ul {
  list-style-type: var(--list-style-unordered);
}

ol {
  list-style-type: var(--list-style-ordered);
}

li,
dd {
  margin-top: 0;
}

/**
 * Horizontal rule
 */

hr {
  height: var(--hr-height);
  min-height: var(--hr-min-height);
  border-style: none;
  background: var(--hr-background);
}

blockquote {
  padding-left: var(--blockquote-padding);
  padding-right: var(--blockquote-padding);
  font-style: italic;
}

blockquote p {
  margin-bottom: var(--margin-base);
}
