.u-margins-off, .u-margins-all-off, .u-margins-all-off + *, .u-margins-all-off * {
  margin: 0 !important;
}

.u-margins-on, .u-margins-default {
  margin-top: var(--margin-base);
}

.u-margins-all-on, .u-margins-all-on + * {
  margin-top: var(--margin-base);
}

.u-margin-xs {
  margin: var(--space-xs);
}

.u-margin-sm {
  margin: var(--space-sm);
}

.u-padding-sm {
  padding: var(--space-sm);
}

.u-top-off {
  margin-top: 0;
}

.u-top-xs, .u-top-tight {
  margin-top: var(--space-xs);
}

.u-top-sm {
  margin-top: var(--space-sm);
}

.u-align-center {
  text-align: center;
}

.u-align-right {
  text-align: right;
}

@media (--sm-viewport) {
  .u-sm-margins-default {
    margin-top: var(--margin-base);
  }
  .u-sm-top-xs, .u-sm-margins-top-xs {
    margin-top: var(--space-xs);
  }

}

@media (--md-viewport) {
  .u-md-margins-default, .u-md-top-default {
    margin-top: var(--margin-base);
  }
  .u-md-top-off, .u-md-margins-off {
    margin-top: 0 !important;
  }
}

@media (--lg-viewport) {
  .u-lg-margins-default {
    margin-top: var(--margin-base);
  }
}
