.u-margins-off, .u-container {
  margin: 0;
}

.u-margins-on {
  margin-top: var(--margin-base);
}

.u-margins-all-off, .u-margins-all-off + *, .u-margins-all-off * {
  margin: 0;
}

.u-margins-all-on, .u-margins-all-on + * {
  margin-top: var(--margin-base);
}

.u-padding-sm {
  padding: var(--space-small);
}

.u-align-center {
  text-align: center;
}

.u-align-right {
  text-align: right;
}
