.u-margins-off, .u-margins-all-off, .u-margins-all-off + *, .u-margins-all-off * {
  margin: 0 !important;
}

.u-margins-on, .u-margins-default {
  margin-top: var(--margin-base);
}

.u-margins-all-on, .u-margins-all-on + * {
  margin-top: var(--margin-base);
}

.u-margin-xs {
  margin: var(--space-xs);
}

.u-margin-sm {
  margin: var(--space-sm);
}

.u-padding-sm {
  padding: var(--space-sm);
}

.u-top-off {
  margin-top: 0 !important;
}

.u-top-xs, .u-top-tight {
  margin-top: var(--space-xs);
}

.u-top-lg {
  margin-top: var(--space-lg);
}

.u-v-xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.u-v-sm {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.u-v-lg {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.u-h-xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.u-h-sm {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.u-p-sm {
  padding: var(--space-sm);
}

.u-top-sm {
  margin-top: var(--space-sm);
}

.u-align-center {
  text-align: center;
}

.u-align-right {
  text-align: right;
}

.u-float-left {
  display: block;
  float: left;
}

.u-inline {
  display: inline;
}

.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (--sm-viewport) {
  .u-sm-margins-default {
    margin-top: var(--margin-base);
  }
  .u-sm-top-xs, .u-sm-margins-top-xs {
    margin-top: var(--space-xs);
  }

}

@media (--md-viewport) {
  .u-md-margins-default, .u-md-top-default {
    margin-top: var(--margin-base);
  }
  .u-md-top-off, .u-md-margins-off {
    margin-top: 0 !important;
  }
}

@media (--lg-viewport) {
  .u-lg-margins-default {
    margin-top: var(--margin-base);
  }
}
