.u-link-colorless, .u-link-colorless:visited {
  transition: all 300ms;
  color: var(--color-black);
}

.u-link-colorless:hover {
  transition: all 300ms;
  text-decoration: underline;
  color: var(--color-pank);
}

.u-link-subtle, .u-link-subtle:visited {
  color: var(--color-blue-subtle);
}

.u-link-subtle:hover {
  color: var(--color-pank);
}
