.is-indented {
  margin-left: var(--space-sm) !important;
}

.is-indented--xsm {
  margin-left: var(--space-xsm) !important;
}

.is-indented--xxsm {
  margin-left: var(--space-xxsm) !important;
}

.is-shaded {
  background-color: var(--color-gray-barely);
}
