.u-muted {
  color: var(--color-gray-lighter);
}

.u-lighter {
  color: var(--color-gray);
}

.u-text-xs {
  font-size: var(--font-size-xs);
}

.u-text-sm {
  font-size: var(--font-size-sm);
}

.u-smallcaps {
  text-transform: lowercase;
  font-variant: small-caps;
}
