.u-muted {
  color: var(--color-gray-light);
}

.u-light {
  color: var(--color-gray-mid);
}

.u-lighter {
  color: var(--color-gray-lighter);
}

.u-text-xs {
  font-size: var(--font-size-xs);
}

.u-text-sm {
  font-size: var(--font-size-sm);
}

.u-text-md {
  font-size: var(--font-size-md);
}

.u-text-lg {
  font-size: var(--font-size-lg);
}

.u-smallcaps {
  text-transform: lowercase;
  font-variant: small-caps;
}
