<div class="Grid-cell u-size2of3">
  {{> post/_tags }}
    <div class="PostBlurb-blurb">
      {{{blurb}}}
    </div>
</div>

  <div class="Grid-cell u-size1of3 u-align-right">
    {{> post/_blurb-link}}
  </div>
