<div class="Post-thumbnail PostBlurb-thumbnail">
  <div class="FlexEmbed">
    <div class="FlexEmbed-ratio FlexEmbed-ratio--{{thumbnail.ratio}}">
      <div class="FlexEmbed-content Post-thumbnail-content">
        <iframe class="Post-thumbnail-embed" src="{{thumbnail.url}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
